.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3A024B;
  padding: 1.5rem 5rem;
}

.navlink {
  position: relative;
  text-decoration: none;
  color: #F5F1FF;
  transition: color 0.3s, border-bottom-color 0.3s;
  font-size: 1.25rem;
  font-weight: bold;
}

.groupednavlinks > .navlink {
  margin-left: 2.5rem;
}
  
.navlink::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0; 
  background-color: white; 
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out; 
}
  
.navlink:hover::after {
  width: 100%; 
  left: 0; 
}
  
.navlink:hover {
  color: #FFFFFF;
}
  
.navlink:hover::after {
  width: 100%;
  background-color: #FFFFFF; 
}

@media (max-width: 600px) {
  .navbar {
    padding: 1.5rem 1rem;
    justify-content: space-around;
  }
  .navlink {
    font-size: 1rem;
  }
}