.answers {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.answer {
    width: 90%;
    margin: 0 auto;
}

.answer button {
    background:none; 
    border:none;     
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 24px;
    background: #6cb7f5;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

.answer button:hover {
    background-color: #027de2;
}

.answerButton.selected, .answerButton.selected:hover  {
    background-color: orange;
}

.answerButton.correct, .answerButton.correct:hover {
    background-color: green;
}

.answerButton.wrong, .answerButton.wrong:hover {
    background-color: red;
}

.answerButton:disabled, .answerButton:disabled:hover {
    pointer-events: none;
    color: black;
    border: inherit;
}