.mainTitle {
    text-align: center;
}

.card {
    max-width: 50rem;
    margin: auto;
    padding: 2rem;
    background: #4682B4;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
    text-align: center;
}

.cardTitle{
    color: black;
    margin-top: 0;
    margin-bottom: 1rem;
}

.startLink {
    margin-top: 2rem;
    font: inherit;
    width: 40%;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: #34ace0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    font-weight: bold;
    text-decoration: none;
}


.startLink:hover {
    background-color: rgba(46, 170, 223, 0.842);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectcontainer > select {
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
    padding: 1em 4em 1em 1.5em;
    background-color: #34ace0;
    color: black;
    border: 0;
}

.selectcontainer > select:focus {
    outline: none;
}

.selectcontainer {
    width: 40%;
    position: relative;
    text-align: center;
}

.customarrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #0662ad;
    height: 100%;
    width: 4em;
    pointer-events: none;
}

.customarrow::before,
.customarrow::after {
    --size: 0.65em;

    content: '';
    position: absolute;
    width: 0;
    height: 0;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.customarrow::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgba(255,255,255,0.5);

    top: 40%;
}

.customarrow::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgba(255, 255, 255, 0.5);

    top: 60%;
}

.label {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    margin: 1rem 0rem 1rem 0rem;
}

.custom-shape-divider-bottom-1707761150 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707761150 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 309px;
}

.custom-shape-divider-bottom-1707761150 .shape-fill {
    fill: #4682B4;
}