
.mainTitle {
    text-align: center;
}

.card {
    max-width: 50rem;
    margin: auto;
    padding: 2rem;
    background: #4682B4;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
    text-align: center;
}

.cardTitle{
    color: black;
    margin-top: 0;
    margin-bottom: 2rem;
}

.startLink {
    display: block;
    background:none; 
    border:none;     
    width: 33%;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 24px;
    color: black;
    background: #34ace0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    text-decoration: none;
}

.startLink:hover {
    background-color: rgba(46, 170, 223, 0.842);
}

.quizdropdown {
    overflow-y: scroll;
    height: auto;
}