.newquiztitle {
    text-align: center;
}

.quizform {
    max-width: 50rem;
    margin: auto;
    padding: 2rem;
    background: linear-gradient(180deg, #3e2a60 0%, #321061 100%);
    border-radius: 8px;
    box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
    text-align: center;
}

.label {
    color: #c1b2dd;
    text-transform: uppercase;
    display: block;
}

.input {
    width: 20rem;
    border-radius: 3px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    height: 2px;
}

.submitButton {
    background:none; 
    border:none;     
    width: 33%;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 24px;
    color: black;
    background: #6cb7f5;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    text-decoration: none;
}

.submitButton:hover {
    background-color: #027de2;
}