.question h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0.5rem 0 2.5rem 0;
    color: #c1b2dd;
}
  
.answers {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}