.mainTitle {
    text-align: center;
    font-size: 2.75rem;
    color: #FFBD61;
    text-shadow: 0 0 40px #FFBD61;
}

.quiztext {
    color: #ff21C1;
    text-shadow: 0 0 40px #ff21C1;
}

.cardTitle{
    margin-top: 0;
    margin-bottom: 1rem;
}

.startLink {
    font: inherit;
    width: 40%;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: #a478ff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    font-weight: bold;
    text-decoration: none;
}


.startLink:hover {
    background-color: #8146f7;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectcontainer > select {
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
    padding: 1em 4em 1em 1.5em;
    background-color: #a478ff;
    color: black;
    border: 0;
}

.selectcontainer > select:focus {
    outline: none;
}

.selectcontainer {
    margin-bottom: 2rem;
    width: 40%;
    position: relative;
    text-align: center;
}

.customarrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #8146f7;
    height: 100%;
    width: 4em;
    pointer-events: none;
}

.customarrow::before,
.customarrow::after {
    --size: 0.65em;

    content: '';
    position: absolute;
    width: 0;
    height: 0;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.customarrow::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgba(255,255,255,0.5);

    top: 40%;
}

.customarrow::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgba(255, 255, 255, 0.5);

    top: 60%;
}

.label {
    display: block;
    margin-bottom: 2rem;
}

.labelTitle {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}