
.infoSection {
    margin-top: 5rem;
    background-color: #3A024B;
    text-align: center;
}

.infoTitle {
    color: #F5F1FF;
    padding: 2rem;
    font-size: 2.75rem;
    margin: 0;
    text-shadow: 0 0 60px #F5F1FF;
}

.knowledgetext {
    color: #ff21C1;
}

.funtext {
    color: #FFBD61;
}

.infoList {
    list-style-type: none;
    padding: 0;
}

.listItem {
    border: #F5F1FF solid 2px;
    color: #F5F1FF;
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 4px rgba(245, 241, 255, 0.2);
    width: 100%;
}

.infoContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.listItemContainer {
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: #F5F1FF;
    width: 5rem;
    height: 5rem;
}

@media (max-width: 1200px) {
    .listItemContainer {
        width: 30rem;
        margin-left: 2rem;
    }
}

@media (max-width: 1000px) {
    .image {
        display: none;
    }
    .listItemContainer {
        width: 35rem;
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .listItemContainer {
        width: 20rem;
        margin-left: 0;
    }
    .listItem {
        padding: 0.5rem;
    }
    .listItem > h2 {
        font-size: 1rem;
    }
    .listItem > p {
        font-size: 0.7rem;
    }
    .infoTitle {
        font-size: 2rem;
        padding-bottom: 0;
    }
}