.questiontime {
    width: 50%;
    height: 0.5rem;
    border-radius: 24px;
    background: #e0e0e0; 
    margin: 0;
    transition: background-color 0.5s ease; 
}

.questiontime::-webkit-progress-bar {
    background: #e0e0e0; 
}

.questiontime::-webkit-progress-value {
    background: #a478ff; 
}


@media (max-width: 700px) {
    .questiontime {
        width: 100%;
    }
}