.resultstitle {
    margin-top: 0;
    color: #F5F1FF;
}

.results {
    color: #F5F1FF;
}

.resultspercentage {
    margin-bottom: 2.5rem;
    color: #F5F1FF;
}

.homebutton {
    font: inherit;
    width: 30%;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: none;
    color: black;
    background-color: #a478ff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    font-weight: bold;
    text-decoration: none;
}

.homebutton:hover {
    background-color: #8146f7;
}

.questionList {
    list-style-type: none;
    padding: 0;
}

.summarySection {
    margin-top: 2rem;
    border-top: #F5F1FF solid 2px;
}

.questionItem {
    padding-bottom: 0.8rem;
    overflow-wrap: break-word;
    font-weight: bold;
}

.answerItem {
    font-weight: bold;
    overflow-wrap: break-word;
}

.correctAnswer {
    padding-top: 0.8rem;
    overflow-wrap: break-word;
}

.resultQuestionCard {
    max-width: 50rem;
    margin: auto;
    padding: 1rem;
    margin: 0 2rem 2rem 2rem;
    border: #F5F1FF solid 2px;
    color: #F5F1FF;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 4px rgba(245, 241, 255, 0.2);
}

.correct {
    color: #008000;
}

.incorrect {
    color: #fa4444;
}

@media (max-width: 700px) {
    .homebutton {
        width: 80%;
    }
    .resultstitle {
        font-size: 1.3rem;
    }
    .results{
        font-size: 1.3rem;
    }
    .resultspercentage{
        font-size: 1.3rem;
    }
    .questionItem {
        font-size: 0.7rem;
    }
    .answerItem {
        font-size: 0.7rem;
    }
    .correctAnswer {
        font-size: 0.7rem;
    }
}
