.resultstitle {
    margin-top: 0;
    color: #F5F1FF;
}

.results {
    color: #F5F1FF;
}

.resultspercentage {
    margin-bottom: 2.5rem;
    color: #F5F1FF;
}

.homebutton {
    font: inherit;
    width: 30%;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: none;
    color: black;
    background-color: #a478ff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    font-weight: bold;
    text-decoration: none;
}

.homebutton:hover {
    background-color: #8146f7;
}

@media (max-width: 700px) {
    .homebutton {
        width: 80%;
    }
    .resultstitle {
        font-size: 1.3rem;
    }
    .results{
        font-size: 1.3rem;
    }
    .resultspercentage{
        font-size: 1.3rem;
    }
}
